.card {
    height: 30rem;
    width: 22rem;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin: 0 6em 6em 6em;
    background-color: white;;

    .card-text {
        padding: 0 5% 0 5%
    }
    
}