.contact {
  min-height: 85vh;
  text-align: center;
  padding-top: 60px;
  background-color: rgba(233, 232, 232, 0.26);
  padding-bottom: 6em;

  p {
    margin-top: 2.5em;
    padding: 0 30% 0 30%;
    text-transform: capitalize;
  }

  h3 {
    margin-top: 2.5em;
  }

  h5 {
    margin-bottom: 2.5em;
  }
}

.contact-form {
  position: relative;
  height: auto;
  padding: 3rem;
  width: 80%;
  border-radius: 5px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0px 15px -3px rgba(0, 0, 0, 0.1),
    0 0px 6px -2px rgba(0, 0, 0, 0.05);

  img {
    padding: 2rem 0 2rem 0;
  }

  .question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    h3 {
      margin-top: 0;
      margin-right: 2rem;
    }

    select {
      background: none;
      border: none;
      border-bottom: solid 2px #474544;
      text-transform: none;
      font-size: 3rem;
      font-family: "Karla", sans-serif;
      height: 50px;
      padding: 0 10px 0 10px;
    }
  }

  .fullname,
  .info,
  .company-name,
  .resume {
    display: flex;
    justify-content: space-between;

    input,
    label {
      background: none;
      border: none;
      border-bottom: solid 2px #474544;
      text-transform: none;
      font-size: 3rem;
      font-family: "Karla", sans-serif;
      height: 50px;
      padding: 0 10px 0 10px;
      width: 100%;
      margin: 3rem;
    }
  }

  .message {
    display: flex;
    justify-content: center;

    textarea {
      background: none;
      border: none;
      border-bottom: solid 2px #474544;
      text-transform: none;
      font-size: 3.5rem;
      font-family: "Karla", sans-serif;
      padding: 0 10px 0 10px;
      width: 100%;
      margin: 3rem;
      resize: none;
    }
  }

  select:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }

  .resume {
    display: flex;
    justify-content: center;

    #uglybutton {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    label {
      color: black;
      cursor: pointer;
      width: auto;
      color: white;
      background-color: #015794;
      border: none;
      border-radius: 20px;
      padding: 6px 1em;
    }
    label:hover {
      transition: 0.4s;
      background-color: #4aacde;
    }
  }

  .send {
    padding: 4rem 0;

    button {
      font-size: 3rem;
      font-family: "Karla", sans-serif;
    }

    button:hover {
      transition: 0.4s;
      background-color: #4aacde;
    }

    button:active {
      border: none;
    }
  }

  ::placeholder {
    color: black;
  }
}

@media screen and (max-width: 1480px) {
  .contact {
    .top-text {
      h1 {
        font-size: 5rem;
      }
      h5 {
        font-size: 1.75rem;
      }
    }
    .contact-form {
      h2 {
        font-size: 5rem;
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .question {
    flex-direction: column;

    select {
      text-align-last: center;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contact {
    .top-text {
      h1 {
        font-size: 4rem;
      }
      h5 {
        font-size: 1.5rem;
      }
    }
    .contact-form {
      h2 {
        font-size: 4rem;
      }
    }
    .question {
      h3,
      select {
        font-size: 2rem;
      }
    }

    .resume {
      label {
        font-size: 2rem;
        padding-top: 12px;
      }
    }
    .company-name,
    .fullname,
    .info,
    .message,
    .send {
      input,
      textarea,
      button {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .fullname,
  .info {
    flex-direction: column;
  }

  .contact-form .fullname input,
  .contact-form .info input,
  .contact-form .message textarea,
  .contact-form .company-name input {
    margin: 3rem 0;
  }
  .contact .resume {
    label {
      width: 100%;
      margin: 3rem 0;
    }
  }
}

@media screen and (max-width: 552px) {
  .contact {
    .top-text {
      h5 {
        font-size: 1.25rem;
      }
    }
    .question {
      h3,
      select {
        font-size: 1.75rem;
      }
    }

    .resume {
      label {
        font-size: 1.75rem;
        padding-top: 14px;
      }
    }
    .company-name,
    .fullname,
    .info,
    .message,
    .send {
      input,
      textarea,
      button {
        font-size: 1.75rem;
      }
    }
  }
}
