header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:80%;
  margin: auto;
  min-height: 15vh;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo a {
  text-decoration: none;
  color: gray;
}

.nav-links {
  display: flex;
}

.nav-links li a {
  padding: 0 10px 0 10px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #161616
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: grey;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 90%
  }
}

@media screen and (max-width: 980px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    padding: 10rem 0 10rem 0;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: #3E78BD;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.35s ease-in;
    z-index: 100;
  }
  .nav-links li {
    padding-top: 20px;
  }
  .nav-links li a {
    color: white;
  }

  .burger {
    display: block;
  }
}

.nav-active {
    transform: translateX(0%);
    overflow: hidden
}
