header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo a {
  text-decoration: none;
  color: gray;
}

.nav-links {
  display: flex;
}

.nav-links li a {
  padding: 0 10px 0 10px;
  letter-spacing: 3px;
  font-weight: 500;
  color: #161616
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: grey;
  margin: 5px;
}

@media screen and (max-width: 980px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 80vh;
    top: 20vh;
    background-color: rgb(0, 0, 0);
    opacity: .6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.35s ease-in
  }
  .nav-links li {
    padding-top: 20px;
  }
  .nav-links li a {
    color: white;
  }

  .burger {
    display: block;
  }
}

.nav-active {
    transform: translateX(0%)
}
