// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  font-family: 'Rubik', sans-serif;
}
h1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
  color: #424040
}
h2 {
  font-size: 5rem;
  font-family: 'Rubik', sans-serif;
  color: #424040
}
h3 {
  font-size: 3.5rem;
  font-family: 'Karla', sans-serif;
  color: #424040
}

h4 {
  font-size: 3rem;
  font-family: 'Karla', sans-serif;
  color: #424040
}
h5 {
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
  color: #424040;
  letter-spacing: 2px;
}

p{
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
  color: #424040;
}

li {
  font-size: 2rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: #424040
}

button {
  color: white;
  background-color: #015794;
  padding: 0.5em 1em ;
  border: none;
  border-radius: 20px;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}


// @import "home";
// @import "features";
// @import "soon";
// @import "footer";

// @media screen and (max-width: 1200px) {
//   html {
//     font-size: 50%;
//   }
//   nav {
//     #logo {
//       flex: 1;
//     }
//     ul {
//       li {
//         margin-left: 5rem;
//       }
//     }
//   }
//   .showcase {
//     grid-template-columns: 10% 1fr 10%;
//     img {
//       width: 100%;
//       object-fit: contain;
//     }
//     img,
//     h2,
//     .info {
//       grid-column: 2/3;
//       text-align: center;
//     }
//   }
//   .features {
//     align-items: center;
//     h2 {
//       margin-top: 5rem;
//     }
//     .cards {
//       flex-direction: column;
//       width: 100%;
//       .card {
//         margin: 5rem 0rem;
//       }
//     }
//   }
//   .soon {
//     overflow: hidden;
//     img {
//       width: 60%;
//     }
//     h2 {
//       font-size: 5rem;
//       text-align: center;
//     }
//   }
//   footer {
//     h1 {
//       flex: 1;
//     }
//   }
// }


